<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video List</title>
</head>
<body>
    <h1>Video List</h1>
    <div>
        {% for video in videos %}
            <div class="video">
                <h2>{{ video.name }}</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.link|slice:':-11' }}" frameborder="0" allowfullscreen></iframe>
            </div>
        {% endfor %}
    </div>
</body>
</html>
