{% extends "base.html" %}

{% block title %}Home{% endblock %}



{% block content %}


<main>

    <!-- Trending Area Start -->
  <div class="trending-area fix">
        <div class="container">
            <div class="trending-main">
                <!-- Trending Tittle -->

                <div class="row">
                    <div class="col-lg-8">
                            <!-- Trending Top -->
                        <div class="trending-top mb-30">
                            <div class="trend-top-img">
                               <img src="{{ detail1.image.url }}" alt="{{ detail1.title }}">
                                <div class="trend-top-cap">
                                    <span>{{ detail1.category.name }}</span>
                                    <h2><a href="{% url 'post' detail1.pk %}">{{ detail1.title }}</a></h2>
                                </div>
                            </div>
                        </div>

                        <!-- Trending Bottom -->
                        <div class="trending-bottom">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="single-bottom mb-35">
                                        {% if detail3 %}
                                        <div class="trend-bottom-img mb-30">
                                            <img src="{{ detail2.image.url }}" alt="{{ detail3.title }}">
                                        </div>
                                        <div class="trend-bottom-cap">
                                            <span class="color2">{{ detail2.category.name }}</span>
                                            <h4><a href="{% url 'post' detail2.pk %}">{{ detail2.title }}</a></h4>
                                        </div>
                                        {% else %}
                                        <p>No post available for Jamiyat category</p>
                                        {% endif %}
                                    </div>
                                </div>
                               <div class="col-lg-4">
                                    <div class="single-bottom mb-35">
                                        {% if detail3 %}
                                        <div class="trend-bottom-img mb-30">
                                            <img src="{{ detail3.image.url }}" alt="{{ detail3.title }}">
                                        </div>
                                        <div class="trend-bottom-cap">
                                            <span class="color2">{{ detail3.category.name }}</span>
                                            <h4><a href="{% url 'post' detail3.pk %}">{{ detail3.title }}</a></h4>
                                        </div>
                                        {% else %}
                                        <p>No post available for Sport category</p>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="single-bottom mb-35">
                                        {% if detail4 %}
                                        <div class="trend-bottom-img mb-30">
                                            <img src="{{ detail4.image.url }}" alt="{{ detail4.title }}">
                                        </div>
                                        <div class="trend-bottom-cap">
                                            <span class="color2">{{ detail3.category.name }}</span>
                                            <h4><a href="{% url 'post' detail4.pk %}">{{ detail4.title }}</a></h4>
                                        </div>
                                        {% else %}
                                        <p>No post available for Sport category</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Riht content -->
                    <div class="col-lg-4">
                        <div class="trand-right-single d-flex">
                            <div class="trand-right-img">
                                <img src="assets/img/trending/right1.jpg" alt="">
                            </div>
                            <div class="trand-right-cap">
                                <span class="color1">Concert</span>
                                <h4><a href="details.html">Welcome To The Best Model Winner Contest</a></h4>
                            </div>
                        </div>
                        <div class="trand-right-single d-flex">
                            <div class="trand-right-img">
                                <img src="assets/img/trending/right2.jpg" alt="">
                            </div>
                            <div class="trand-right-cap">
                                <span class="color3">sea beach</span>
                                <h4><a href="details.html">Welcome To The Best Model Winner Contest</a></h4>
                            </div>
                        </div>
                        <div class="trand-right-single d-flex">
                            <div class="trand-right-img">
                                <img src="assets/img/trending/right3.jpg" alt="">
                            </div>
                            <div class="trand-right-cap">
                                <span class="color2">Bike Show</span>
                                <h4><a href="details.html">Welcome To The Best Model Winner Contest</a></h4>
                            </div>
                        </div>
                        <div class="trand-right-single d-flex">
                            <div class="trand-right-img">
                                <img src="assets/img/trending/right4.jpg" alt="">
                            </div>
                            <div class="trand-right-cap">
                                <span class="color4">See beach</span>
                                <h4><a href="details.html">Welcome To The Best Model Winner Contest</a></h4>
                            </div>
                        </div>
                        <div class="trand-right-single d-flex">
                            <div class="trand-right-img">
                                <img src="assets/img/trending/right5.jpg" alt="">
                            </div>
                            <div class="trand-right-cap">
                                <span class="color1">Skeping</span>
                                <h4><a href="details.html">Welcome To The Best Model Winner Contest</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="youtube-area video-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="video-items-active">
                        <div class="video-items text-center">
                            <iframe src="https://www.youtube.com/embed/CicQIuG8hBo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="video-items text-center">
                            <iframe  src="https://www.youtube.com/embed/rIz00N40bag" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="video-items text-center">
                            <iframe src="https://www.youtube.com/embed/CONfhrASy44" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        </div>
                        <div class="video-items text-center">
                            <iframe src="https://www.youtube.com/embed/lq6fL2ROWf8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        </div>
                        <div class="video-items text-center">
                            <iframe src="https://www.youtube.com/embed/0VxlQlacWV4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>

    <!--Recent Articles End -->
    <!--Start pagination -->

    <div class="pagination-area pb-45 text-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="single-wrap d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                              <li class="page-item"><a class="page-link" href="#"><span class="flaticon-arrow roted"></span></a></li>
                                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                <li class="page-item"><a class="page-link" href="#">02</a></li>
                                <li class="page-item"><a class="page-link" href="#">03</a></li>
                              <li class="page-item"><a class="page-link" href="#"><span class="flaticon-arrow right-arrow"></span></a></li>
                            </ul>
                          </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}

