{% extends "base.html" %}

{% block title %}Home{% endblock %}



{% block content %}


<style>

.small-time {
    font-size: 10px; /* Kichikroq hajm */
}

.normal-time {
    font-size: 14px; /* Oddiy hajm */
}

</style>


<main>
    <!-- Trending Area Start -->
    <div class="trending-area fix">
        <div class="container">
            <div class="trending-main">

                <div class="row">
                    <div class="col-lg-8">
                        <!-- Trending Top -->
                        <div class="trending-top mb-30">
                            <div class="trend-top-img">
                                <img src="{{ detail1.image.url }}" alt="">
                                <div class="trend-top-cap">
                                    <span>{{ detail1.category.name }}</span>
                                    <h2><a href="{% url 'detail' pk=detail1.pk %}">{{ detail1.title }}</a></h2>
                                </div>
                            </div>
                        </div>
                        <!-- Trending Bottom -->
                        <div class="trending-bottom">
                            <div class="row">
                                <div class="col-lg-4">
                                <div class="single-bottom mb-35">
                                    <div class="trend-bottom-img mb-30">
                                        <img src="{{ detail2.image.url }}" alt="">
                                    </div>
                                    <div class="trend-bottom-cap">
                                        <span class="color1">{{ detail2.category.name }}</span>
                                        <h4><a href="{% url 'detail' pk=detail2.pk %}">{{ detail2.title }}</a></h4>
                                    </div>
                                </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="single-bottom mb-35">
                                        <div class="trend-bottom-img mb-30">
                                            <img src="{{ detail3.image.url }}" alt="">
                                        </div>
                                        <div class="trend-bottom-cap">
                                            <span class="color2">{{ detail3.category.name }}</span>
                                            <h4><h4><a href="{% url 'detail' pk=detail3.pk %}">{{ detail3.title }}</a></h4></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="single-bottom mb-35">
                                        <div class="trend-bottom-img mb-30">
                                            <img src="{{ detail4.image.url }}" alt="">
                                        </div>
                                        <div class="trend-bottom-cap">
                                            <span class="color3">{{ detail4.category }}</span>
                                            <h4><a href="{% url 'detail' pk=detail4.pk %}">{{ detail4.title}}</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Riht content -->
                    <div class="col-lg-4">
                        <div class="trand-right-single d-flex">
                            <div class="trand-right-cap">
                                <span class="color1">{{ latestnew1.category.name }}</span>
                                <h4><a href="{% url 'latestnew' latestnew1.pk %}">{{ latestnew1.title }}</a></h4>
                                {% load tz %}
                                    <p class="{% if latestnew1.date > now|date:'Y-m-d H:i:s' %}small-time{% else %}normal-time{% endif %}">
                                        {% if latestnew1.date > now|date:'Y-m-d  H:i:s' %}
                                            {{ latestnew1.date|time:"H:i" }}
                                        {% else %}
                                            {{ latestnew1.date|date:"Y-m-d H:i" }}
                                        {% endif %}
                                    </p>
                            </div>
                        </div>
                        <div class="trand-right-single d-flex">
                            <div class="trand-right-cap">
                                <span class="color3">{{ latestnew2.category.name }}</span>
                                <h4><a href="{% url 'latestnew' latestnew2.pk %}">{{ latestnew2.title }}</a></h4>
                                {% load tz %}
                                    <p class="{% if latestnew2.date > now|date:'Y-m-d H:i:s' %}small-time{% else %}normal-time{% endif %}">
                                        {% if latestnew2.date > now|date:'Y-m-d  H:i:s' %}
                                            {{ latestnew2.date|time:"H:i" }}
                                        {% else %}
                                            {{ latestnew2.date|date:"Y-m-d H:i" }}
                                        {% endif %}
                                    </p>
                            </div>
                        </div>
                        <div class="trand-right-single d-flex">
                            <div class="trand-right-cap">
                                <span class="color2">{{ latestnew3.category.name }}</span>
                                <h4><a href="{% url 'latestnew' latestnew3.pk %}">{{ latestnew3.title }}</a></h4>
                                {% load tz %}
                                    <p class="{% if latestnew3.date > now|date:'Y-m-d H:i:s' %}small-time{% else %}normal-time{% endif %}">
                                        {% if latestnew3.date > now|date:'Y-m-d  H:i:s' %}
                                            {{ latestnew3.date|time:"H:i" }}
                                        {% else %}
                                            {{ latestnew3.date|date:"Y-m-d H:i" }}
                                        {% endif %}
                                    </p>
                            </div>
                        </div>
                        <div class="trand-right-single d-flex">
                            <div class="trand-right-cap">
                                <span class="color4">{{ latestnew4.category.name }}</span>
                                <h4><a href="{% url 'latestnew' latestnew4.pk %}">{{ latestnew4.title }}</a></h4>
                                {% load tz %}
                                    <p class="{% if latestnew4.date > now|date:'Y-m-d H:i:s' %}small-time{% else %}normal-time{% endif %}">
                                        {% if latestnew4.date > now|date:'Y-m-d  H:i:s' %}
                                            {{ latestnew4.date|time:"H:i" }}
                                        {% else %}
                                            {{ latestnew4.date|date:"Y-m-d H:i" }}
                                        {% endif %}
                                    </p>
                            </div>
                        </div>
                        <div class="trand-right-single d-flex">
                            <div class="trand-right-cap">
                                <span class="color1">{{ latestnew5.category.name }}</span>
                                <h4><a href="{% url 'latestnew' latestnew5.pk %}">{{ latestnew5.title }}</a></h4>
                                {% load tz %}
                                    <p class="{% if latestnew5.date > now|date:'Y-m-d H:i:s' %}small-time{% else %}normal-time{% endif %}">
                                        {% if latestnew5.date > now|date:'Y-m-d  H:i:s' %}
                                            {{ latestnew5.date|time:"H:i" }}
                                        {% else %}
                                            {{ latestnew5.date|date:"Y-m-d H:i" }}
                                        {% endif %}
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Trending Area End -->




<div class="video-container">
        <button class="arrow arrow-left" id="prev-arrow">&#9664;</button>
        <button class="arrow arrow-right" id="next-arrow">&#9654;</button>
        <div class="main-video">
            <iframe id="main-video" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="thumbnail-container" id="thumbnail-container">
            <!-- Thumbnail videos will be added here -->
        </div>
        <div class="video-info">
            <h4 id="video-title">Select a video</h4>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            fetch('/api/videos/')
                .then(response => response.json())
                .then(data => {
                    const mainVideo = document.getElementById('main-video');
                    const thumbnailContainer = document.getElementById('thumbnail-container');
                    const videoTitle = document.getElementById('video-title');
                    const prevArrow = document.getElementById('prev-arrow');
                    const nextArrow = document.getElementById('next-arrow');

                    let currentIndex = 0;

                    function updateMainVideo(index) {
                        if (data.length > 0) {
                            const video = data[index];
                            const videoId = new URL(video.link).searchParams.get('v') || video.link.split('embed/')[1];
                            mainVideo.src = `https://www.youtube.com/embed/${videoId}`;
                            videoTitle.textContent = video.name;
                        }
                    }

                    function updateThumbnails() {
                        thumbnailContainer.innerHTML = ''; // Clear existing thumbnails

                        data.forEach((video, index) => {
                            const videoId = new URL(video.link).searchParams.get('v') || video.link.split('embed/')[1];
                            if (videoId) {
                                const thumbnailDiv = document.createElement('div');
                                thumbnailDiv.className = 'thumbnail';
                                thumbnailDiv.onclick = () => {
                                    currentIndex = index;
                                    updateMainVideo(currentIndex);
                                };

                                const thumbnailImage = document.createElement('img');
                                thumbnailImage.src = `https://img.youtube.com/vi/${videoId}/hqdefault.jpg`;

                                const nameDiv = document.createElement('div');
                                nameDiv.className = 'thumbnail-name';
                                nameDiv.textContent = video.name;

                                thumbnailDiv.appendChild(thumbnailImage);
                                thumbnailDiv.appendChild(nameDiv);
                                thumbnailContainer.appendChild(thumbnailDiv);
                            }
                        });

                        // Highlight the current thumbnail
                        if (thumbnailContainer.children.length > 0) {
                            thumbnailContainer.children[currentIndex].scrollIntoView({ behavior: 'smooth', inline: 'center' });
                        }
                    }

                    // Show the first video by default
                    if (data.length > 0) {
                        updateMainVideo(currentIndex);
                        updateThumbnails();
                    }

                    prevArrow.onclick = () => {
                        if (currentIndex > 0) {
                            currentIndex--;
                            updateMainVideo(currentIndex);
                            thumbnailContainer.children[currentIndex].scrollIntoView({ behavior: 'smooth', inline: 'center' });
                        }
                    };

                    nextArrow.onclick = () => {
                        if (currentIndex < data.length - 1) {
                            currentIndex++;
                            updateMainVideo(currentIndex);
                            thumbnailContainer.children[currentIndex].scrollIntoView({ behavior: 'smooth', inline: 'center' });
                        }
                    };
                })
                .catch(error => {
                    console.error('Error fetching videos:', error);
                });
        });
    </script>


    </main>

{% endblock %}

